#div_connect {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    background-image: url("../image/Screenshot\ 2024-07-22\ 165349.png");
    opacity: 80%;
    background-size: cover;
    width: 100vw;
    height: 65vh;
}

p {
    font-family: "Trebuchet MS", Sans-serif;
    font-size: x-large;
    margin-bottom: 20%;
}

/* עיגול מסתובב */

svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

circle {
    fill: none;
    stroke: hsl(214, 89%, 21%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}